<p id="notice"><%= notice %></p>

<strong>Challenge: <%= @submission.challenge.title %></strong>

<p>
  <strong>Description</strong>
  <%= @submission.challenge.descripton %>
</p>

<p>
  <strong>Code:</strong>
  <%= @submission.code %>
</p>

<p>
  <strong>Time:</strong>
  <%= @submission.time %>
</p>

<p>
  <strong>Length:</strong>
  <%= @submission.length %>
</p>
