%p#notice= notice

.col-sm-8
  .row
    .challenge
      %h1= @challenge.title
      %p= @challenge.descripton

  .row
    = render 'submissions/form', challenge: @challenge, submission: Submission.new

  .row
    %h3 Submissions
  .row
    %table.table#submissions
      %thead
        %tr
          %th Code
          %th Characters
          %th Time
      %tbody
        - @challenge.submissions.each do |submission|
          %tr
            %td= submission.code
            %td= submission.code.length
            %td= submission.time
