.col-sm-8
  .row
    .challenge-description
      %h1= @challenge.title
      %p= @challenge.description
      - if @challenge.start
        %h3 Start:
        %pre= @challenge.start
        %h3 End:
      - if @challenge.end
        %pre= @challenge.end

  - if user_signed_in?
    .row
      = render 'submissions/form', challenge: @challenge, submission: Submission.new

  .row
    %h3 Submissions
  .row.submissions
    - if @submissions.any?
      %table.table#submissions
        %thead
          %tr
            %th User
            %th Code
            %th Characters
            %th Time
        %tbody
          - @challenge.submissions.each do |submission|
            %tr.submission
              %td.user= submission.user.email
              %td.code= submission.code
              %td.chars= submission.code.length
              %td.time= submission.time
      = paginate @submissions
    - else
      %p No submssions yet!
