.col-lg-12
  .row
    .challenge-description
      %h1= @challenge.title
      %p= @challenge.description
      - unless @challenge.start.blank?
        %h3 Start:
        %pre= @challenge.start
      - unless @challenge.end.blank?
        %h3 End:
        %pre= @challenge.end
      - unless @challenge.example.blank?
        %h3 Example:
        %pre= @challenge.example


  - if user_signed_in?
    .row
      = render 'submissions/form', challenge: @challenge, submission: Submission.new

  .row
    %h3 Submissions
  .row.submissions
    - if @submissions.any?
      %table.table#submissions
        %thead
          %tr
            %th User
            %th Code
            %th Characters
            %th Time (seconds)
        %tbody
          - @challenge.submissions.each do |submission|
            %tr.submission
              %td.user
                %strong= submission.user.email
              %td.code
                %pre= submission.code
              %td.chars= submission.code.length
              %td.time= submission.time
      = paginate @submissions
    - else
      %p No submssions yet!
