!!!
%html
  %head
    %title RubyGolf
    %meta{:content => "width=device-width, initial-scale=1 user-scalable=no", :name => "viewport"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          = link_to challenges_path, class: 'navbar-brand' do
            %span Ruby
            %strong Golf
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to 'Edit Account', edit_user_registration_path
            %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'Sign In', new_user_session_path

    .container
      - if notice
        .alert.alert-success
          %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} &times;
          = notice
          - if result
            %h3 Your result:
            %pre= result
      - if alert
        .alert.alert-warning
          %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} &times;
          = alert
          - if error
            %h3 Error:
            %code= error
          - if result
            %h3 Your result:
            %pre= result
      = yield
